.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
}
.row-texts{
    display: flex;
    flex-direction: column;
}
 .row-texts >p {
    color: #606060;
    font-size: small !important;
}
.channelRow-logo{
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}
.row-texts >h4 {
    display: flex;
    align-items: center;
}
.verfyBox{
    margin-left:1%;
    font-size: medium !important;
    color: gray;
}
.subscribe {
    color: white !important;
    background-color: rgb(189, 12, 12) !important;
    font-size:small !important;
    margin-left: 40px !important;
    margin-top: -20px !important;
}