.Sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.Sidebar-row:hover{
    background-color: lightgray;
    cursor: pointer;
}
.Sidebar-row.selected{
    background-color: lightgray;
}
.Sidebar-row:hover>.Sidebar-row-icon{
    color: red;
}

.Sidebar-row:hover>.Sidebar-row-title{
    font-weight: bold;
}

.Sidebar-row.selected>.Sidebar-row-icon{
    color: red;
}

.Sidebar-row.selected>.Sidebar-row-title{
    font-weight: bold;
}

.Sidebar-row-icon{
    font-size: large !important;
    color: gray;
}
.Sidebar-row-title{
       flex: 1;
       margin-left: 20px;
       font-size: 12px;
       font-weight: 500;
}